In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os

# Logistic Regression

In [3]:
os.chdir('D:\data\Machine Learning A-Z Template Folder\Part 3 - Classification\Section 14 - Logistic Regression')

In [4]:
df = pd.read_csv('Social_Network_Ads.csv')

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df.isnull().sum()
#No Missing data

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [39]:
# we will finding the relation of Age with Purchase
x = df.iloc[:,[2]].values
y = df.iloc[:,4].values

In [40]:
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()

x = scale_x.fit_transform(x)

In [46]:
from sklearn.linear_model import LogisticRegression
clf_lc = LogisticRegression(random_state=0,solver='lbfgs')

clf_lc.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [47]:
from sklearn.model_selection import cross_validate
accuracies = cross_validate(estimator=clf_lc,X=x,y=y,scoring='accuracy',cv=10)
accuracies

{'fit_time': array([0.00401068, 0.00401235, 0.00401115, 0.00501466, 0.00300956,
        0.00300598, 0.00297809, 0.00200725, 0.00103164, 0.00100183]),
 'score_time': array([0.00100231, 0.        , 0.00100255, 0.        , 0.00100279,
        0.00103259, 0.00100231, 0.        , 0.00100446, 0.        ]),
 'test_score': array([0.92682927, 0.65853659, 0.85365854, 0.9       , 0.9       ,
        0.8       , 0.8       , 0.71794872, 0.79487179, 0.97435897])}

In [49]:
print(accuracies['test_score'].mean())
print(accuracies['test_score'].std())

0.8326203877423388
0.09246386638741477

With the help of Age, we are able to predict Purchased with accuracy of 83% (+/-) 9%

# K-Nearest Neighbour Classifier

In [50]:
os.chdir('D:\data\Machine Learning A-Z Template Folder\Part 3 - Classification\Section 15 - K-Nearest Neighbors (K-NN)')
df = pd.read_csv('Social_Network_Ads.csv')

In [51]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [52]:
x = df.iloc[:,[2]].values
y = df.iloc[:,4].values

In [55]:
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()

x = scale_x.fit_transform(x)

In [61]:
from sklearn.neighbors import KNeighborsClassifier
clf_knn = KNeighborsClassifier()

clf_knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [64]:
from sklearn.model_selection import cross_validate
accuracies = cross_validate(estimator=clf_knn,X=x,y=y,scoring='accuracy',cv=10)
accuracies

{'fit_time': array([0.00099993, 0.00100303, 0.00103664, 0.00100279, 0.        ,
        0.        , 0.        , 0.00096822, 0.00100899, 0.        ]),
 'score_time': array([0.00803256, 0.00501609, 0.0029707 , 0.0020082 , 0.00300479,
        0.00200582, 0.00103593, 0.00203776, 0.00099587, 0.00100446]),
 'test_score': array([0.87804878, 0.65853659, 0.7804878 , 0.875     , 0.9       ,
        0.85      , 0.825     , 0.61538462, 0.84615385, 0.69230769])}

In [78]:
print("Accracy is %.2f with variance of %.2f"%(accuracies['test_score'].mean(),accuracies['test_score'].std()))

Accracy is 0.79 with variance of 0.10

# Support Vector Machine

In [79]:
os.chdir('D:\data\Machine Learning A-Z Template Folder\Part 3 - Classification\Section 16 - Support Vector Machine (SVM)')
df = pd.read_csv('Social_Network_Ads.csv')

In [80]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [81]:
x = df.iloc[:,[2]].values
y = df.iloc[:,4].values

In [86]:
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()

x = scale_x.fit_transform(x)

from sklearn.svm import SVC
clf_svc = SVC(kernel='linear') # rbf,poly,sigmoid and others are also available

clf_svc.fit(x,y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [87]:
from sklearn.model_selection import cross_validate
accuracies = cross_validate(estimator=clf_svc,X=x,y=y,scoring='accuracy',cv=10)
print("Accracy is %.2f with variance of %.2f"%(accuracies['test_score'].mean(),accuracies['test_score'].std()))

Accracy is 0.84 with variance of 0.09

# Naive Bayes Classifier

In [88]:
os.chdir('D:\data\Machine Learning A-Z Template Folder\Part 3 - Classification\Section 18 - Naive Bayes')
df = pd.read_csv('Social_Network_Ads.csv')

In [89]:
x = df.iloc[:,[2]].values
y = df.iloc[:,4].values

#scaling
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()

x = scale_x.fit_transform(x)

#Modelling
from sklearn.naive_bayes import GaussianNB
clf_gnb = GaussianNB()

clf_gnb.fit(x,y)

#Cross Validation
from sklearn.model_selection import cross_validate
accuracies = cross_validate(estimator=clf_gnb,X=x,y=y,scoring='accuracy',cv=10)
print("Accracy is %.2f with variance of %.2f"%(accuracies['test_score'].mean(),accuracies['test_score'].std()))

Accracy is 0.84 with variance of 0.09

# Decison Tree Classification

In [90]:
x = df.iloc[:,[2]].values
y = df.iloc[:,4].values

#scaling
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()

x = scale_x.fit_transform(x)

#Modelling
from sklearn.tree import DecisionTreeClassifier
clf_dt = DecisionTreeClassifier(criterion='entropy', random_state=0)

clf_dt.fit(x,y)

#Cross Validation
from sklearn.model_selection import cross_validate
accuracies = cross_validate(estimator=clf_dt,X=x,y=y,scoring='accuracy',cv=10)
print("Accracy is %.2f with variance of %.2f"%(accuracies['test_score'].mean(),accuracies['test_score'].std()))

Accracy is 0.79 with variance of 0.08

# Random Forest Classification

In [91]:
x = df.iloc[:,[2]].values
y = df.iloc[:,4].values

#scaling
from sklearn.preprocessing import StandardScaler
scale_x = StandardScaler()

x = scale_x.fit_transform(x)

#Modelling
from sklearn.ensemble import RandomForestClassifier
clf_rf = RandomForestClassifier(n_estimators=10, criterion='entropy', random_state=0)

clf_rf.fit(x,y)

#Cross Validation
from sklearn.model_selection import cross_validate
accuracies = cross_validate(estimator=clf_rf,X=x,y=y,scoring='accuracy',cv=10)
print("Accracy is %.2f with variance of %.2f"%(accuracies['test_score'].mean(),accuracies['test_score'].std()))

Accracy is 0.81 with variance of 0.08